<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <a class="navbar-brand " routerLinkActive="active" routerLink="home">
      <img src="../../assets/images/logo.jpeg" height="45" width="130" />
    </a>

    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home"
            ><i class="fa-solid fa-home"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="products"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="contactus"
            >Contact Us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="blogs"
            >Blogs</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="certifications"
            >Certifications</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
