/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

$bgColor: #dddfdf ;
$fontColor : #8AC440 ;
$lightColor : #FFFFFF ;
$btnraduis : 1.68rem ;
body{
  font-family: 'segoe ui light';

  background-color: $bgColor;



}
