.feature-item, .feature-item-modal {
  border: 1px solid #8ac440;
  box-sizing: border-box;
  border-radius: 10rem 0;
  height: 100%;
  background-color: #fff;
}

.blog-item-img
{
  border-radius: 10rem 0;
}

h2{
  color: #8ac440;
}
.seeds-content .button .a{
  color: #8ac440;
}
button{
  border-radius: 1.68rem;
  padding: 1.1rem 4.3rem;
  font-size: .875rem;
  font-weight: 700;
}

.statistics-item
{
  text-align: center;

  border: 1px solid #8ac440;
  box-sizing: border-box;
  border-radius: 80px 0;
  height: 100%;
  background-color: #fff;
}
.statistics-item .count {
  font-size: 2rem;
  font-weight: 700;
  color: #d50032;
}
.statistics-item .fa-plus {
  font-size: 2rem;
  font-weight: 700;
  color: #8ac440;
}
.font-size-20 {
  font-size: 1.25rem;
}

.brdr{
  border: 1px solid #8ac440;
}




